<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='modbot.js') }}></script>
    <title>AutoModerator: {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="document">
        <div id="content">{% block content %}{% endblock %}</div>
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
